html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}



ol, ul {
    font-size: 20px;
    list-style-type: katakana;
}
li::marker {
    font-size: 2rem;
    color: lawngreen;
}

.added-list {
    padding-right: 10px;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    border-color: greenyellow ;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(139, 0, 0, 1));
    width: fit-content;
    margin: 20px auto;
    list-style-position: inside;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.tektur-maintext {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

body {
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
            url("https://cdn.sci.news/images/enlarge11/image_12758e-Vela-Supernova-Remnant.jpg");
    line-height: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Tektur", sans-serif;
}

h2 {
    font-family: "Tomorrow", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.header {
    background-color: #333;
    padding: 15px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-list a {
    color: white;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 50px 100px 50px 100px;
    padding: 20px;

}

.box1 {
    color: white;
    font-size: 24px;
    background-color: darkred;
}

.box2 {
    background-color: rgb(0 0 0 / 0%);
    color: blue;
    text-align: center;
}

.box3 {
    color: #333333;
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;  
    padding: 35px 10px 35px 10px;
}

.box4 {
    color: white;
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
            url("/images/dispair_culler.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.box5 {
    margin: 20px auto;
    color: red;
    border-style: double solid;
    border-width: 12px;
    border-radius: 8px;
    background-color: #333333;
    rotate: -180deg;
    
}

.footer {
    background-color: #ff2f24;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#header-id {
    font-size: 40px;
    color: white;
}

.li-green {
    color: lawngreen;
}

.li-red {
    color: red;
}

.highlight {
    color: blue;
    font-weight: bold;
}

div.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

div.card {
    background-color: black;
    color: white;
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
}

div.card-image-block {
    height: 50%;
    width: 100%;
    overflow: hidden;
}

div.card-image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text-block {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    height: 50%;
}

.card-text-block h2 {
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    font-family: "Tomorrow", sans-serif;
}

.card-text-block p {
    width: 160px;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
}

.card-text-block button {
    width: 100px;
    margin: 0 auto;
    background-color: blue;
    color: white;
    font-size: 14px;
    font-weight: 900;
    border: none;
    padding: 6px 0 6px 0;
    cursor: pointer;
}

.contacts-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 4px;
    border-style: solid;
    border-radius: 4px;
    border-color: white;
    width: 400px;
    height: 400px;
    margin: 20px auto;
    gap: 20px;
    text-align: center;
}

.contacts-box ul, ol {
    list-style-type: none;
    color: white;
    font-size: 24px;
}

.contacts-box li {
    margin: 10px;
}

.contacts-box a {
    color: red;
}

.contacts-box h1 {
    color: white;
    font-size: 32px;
}
